@use './variables'
@use './mixins'

*
    padding: 0
    margin: 0
    box-sizing: border-box

body 
    position: relative

a
    text-decoration: none

ul
    list-style: none 

button
    width: 200px
    height: 55px
    text-align: center
    line-height: 48px
    transition: .4s
    border: none
    cursor: pointer
    font-size: 1rem
    text-transform: uppercase
    &:active
        transform: scale(0.9)
@media (hover:hover)
    button:hover
        transform: scale(1.05)
    
 
.btn-1
    color: variables.$ligth
    background-color: variables.$orange-color
    &:active
        background-color: variables.$orange-light
@media (hover:hover)   
    .btn-1:hover
        background-color: variables.$orange-light
    

.btn-2
    color: variables.$dark-color
    border: 1px solid variables.$dark-color
    background-color: transparent
    &:active
        color: variables.$ligth
        background: variables.$dark-color
@media (hover:hover)   
    .btn-2:hover
        color: variables.$ligth
        background: variables.$dark-color
    
    
.btn-3
    color: variables.$dark-color
    background-color: transparent
    width: auto
    height: auto  
    line-height: 20px 
    &:active
        color: variables.$orange-color

    i
        color: variables.$orange-color
@media (hover:hover)
    .btn-3:hover
        color: variables.$orange-color
    
    
#root, body, html
    height: 100%    
    
#root 
    width: 100%
    --toastify-toast-width: 350px
    .Toastify__toast-container 
        @include mixins.mobile
            right: 0
            top: 4.5%

       
        